.court {
  background: url('img/nba_court_dimensions.jpg') no-repeat;
  background-size: contain;
}
/*
.shot:hover {
  border:4px solid yellow;
}*/

input {
  /*display:block;*/
}

.tooltip {
  position:absolute;
  padding: 3px;
  width:auto;
  height:auto;
  opacity:0;
  border: 2px solid silver;
  background-color:white;
  color:black;
}
#main {
  float:left;
}

#filters {
  float:left;
}

button {
  float:left;
  width:100px;
  height:100px;
  background-size: contain;
  padding:10px;
}
.viewAll{
  font-size: 18px;
}
  
.bobcats {
  background: url('img/logo_bobcats.gif') no-repeat;
  border: 3px dashed black;
  border-left:0px;
  background-size: contain;
}

.nets {
  background: url('img/logo_nets.jpg') no-repeat;
  background-size: contain;
  border: 3px dashed black;
}

.left {
  float:left;
}

/*BAR GRAPHS */

#chart {
  background-color: orange;
  padding:5px;
  float:left;
  width:;
}

.bar {
  background-color: black;
  height: 30px;
  border:1px solid black;
  text-align:left;
  margin-right:5px;
  margin-top: 6px;
  margin-bottom:0px;
}

.madeShots {
    background-color: steelblue;
    height:30px;
    position: relative;
    top:0px;
    float:left;
}

.text {
  color:white;
  position:relative;
  top:0px;
  width:200px;
  margin-left:10px;
  float:left;
  display:block;
}

/*#chart div {
  color:orange;
  border: 1px solid green;
}*/

/*.bar:hover rect {
  fill: 'black';
}

.value {
  fill: white;
}

.axis {
  shape-rendering: 'crispEdges';
}

.axis path {
  stroke: none;
}

.x.axis line {
  stroke: #fff;
  stroke-opacity: .8;
}

.y.axis path {
  stroke: black;
}*/

